@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="nav-item">
        <a asp-controller="ShoppingCart" class="nav-link position-relative">
            <i class="bi bi-cart3 fs-5"></i>

            <span id="cart-status"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>

}










