@model CarListViewModel

<div>
    <h2>All Cars Here</h2>
</div>

<h4 style="color:darkblue;">@Model.CurrentCategory</h4>

<br />
@{

    foreach(Car car in Model.Cars)
    {
        @Html.Partial("_CarSummary", car)

    }
}









